# Server
server/node_modules
server/.env

# Client
clientweb/node_modules
clientweb/.env
# clientweb/build (removed to allow direct push of build folder)

# Build Engines
tuntrust-sign-engine/target/
tuntrust-sign-engine/app/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*